/* .item {
    width: 300px;
    height: 300px;
    background-color: lightgreen;
} */

* {
    box-sizing: border-box;
}

.container-chat {
    display: flex;
    width: 700px;
    height: 500px;
    border: 3px solid crimson;
}

.container-users {
    border: 2px solid green;
    width: 300px;
}

.container-messages {
    display: flex;
    border: 2px solid yellow;
    width: 500px;
    flex-direction: column;
    justify-content: space-between;
}

.user-messag {
    width: 200px;
    height: 20px;
    border: 2px solid purple;
}

.contact-messag {
    width: 200px;
    height: 20px;
    border: 2px solid red;
}

.messages {
    display: flex;
    justify-content: space-between;
}

.input-messag {
    border: 2px solid black;
    width: 80%;
}

.button-messag {
    border: 2px solid black;
    background-color: darkgoldenrod;
    width: 19%;
}